// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Open Sans Condensed', 'Quicksand', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif ;
$font-family-serif:      'Playfair Display SC', Georgia, "Times New Roman", Times, serif ;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:       $font-family-sans-serif ;

// Custom Font Weights
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;


$font-weight-bold: $font-weight-300;

// colors
 $white: white;




// Jumbotron




// headings

$headings-color: $white;

// links

$brand-primary: $white;


$gradient: linear-gradient(to bottom, #29c0ce 0%,#e8a035 18%,#e8a035 22%,#29c0ce 35%,#e8a035 51%,#e8a035 55%,#29c0ce 67%,#e8a035 82%,#e8a035 84%,#29c0ce 100%);