// custom classes //

.welcome {
	background-image: url("images/montereypark.jpeg");
	height: 100vh;
}

.representatives{
	height: 100vh;	
}

.local {
	height: 100vh;
}

.state {
	height: 100vh;}

.federal {
	height: 100vh;}

.end {
	height: 100vh;}